{%- extends '_layouts/base.njk' -%}
{%- block main -%}

<div class='bio'>
   <img src='https://law.yale.edu/sites/default/files/styles/people_pane_photo/public/artur-pericles.-foto-de-bianca-moreira.internetlab-1.jpg' alt='Headshot' class='headshot'>

   <article>
 
         <img src='yale.edu/sites/default/files/styles/people_pane_photo/public/artur-pericles.-foto-de-bianca-moreira.internetlab-1.jpg' alt='Headshot of Chris' />
 
      {{section.content | safe}}
   </article>
</div>

<div class='summary'>
   <section class='now'>
      <article class='family'></article>
      <article class='work'>
         In January, I joined LinkedIn as a Staff Software Engineer. My passion is
      </article>
   </section>
   <section class='essays'>
      <h1>Essays</h1>
   </section>
   <section class='posts'>

   </section>
   <section class='etc'>
      <section class='library'></section>
      <section class='notes'></section>
   </section>
</div>
{%- endblock main -%}
